In [4]:
x = 100
y = 100
print(id(x))
print(id(y))
print(x is y)

140725666465304
140725666465304
True

In [3]:
import pandas as pd
import mysql.connector

# Establish connection
mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="abc1234",
    database="library"
)

# Define your SQL query
sql = "SELECT * FROM books"  # Replace with your specific query

# Read the results into a DataFrame
df = pd.read_sql(sql, mydb)  # mydb is the connection object

# Close the connection
mydb.close()

# Now you can work with the data in your DataFrame (df)
print(df.head())  # View the first few rows

   id                         title        author         isbn
0   1                           ABC           DFG         None
1   2  Python for Data Analysis, 3E  Wes McKinney   1112223333
2   3   Getting Started with Python  Wes McKinney  11122233444

C:\Users\ITS\AppData\Local\Temp\ipykernel_14468\3844472836.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql, mydb)  # mydb is the connection object

In [2]:
from sqlalchemy import create_engine

# Construct the connection URL (replace with your credentials)
engine = create_engine("mysql+mysqlconnector://root:abc1234@localhost/library")

# Define your SQL query
sql = "SELECT * FROM books"  # Replace with your specific query

# Read the results into a DataFrame
df = pd.read_sql(sql, engine)  # mydb is the connection object

# Close the connection


# Now you can work with the data in your DataFrame (df)
print(df.head())  # View the first few rows

   id                         title        author         isbn
0   1                           ABC           DFG         None
1   2  Python for Data Analysis, 3E  Wes McKinney   1112223333
2   3   Getting Started with Python  Wes McKinney  11122233444